html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strong,
sub,
sup,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*html5 display-role reset for older browsers*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote::after,
q:before,
q::after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*style starts*/
body {
    font-family: sans-serif;
    line-height: 1;
    background: #fcfcfc;
}

a {
    text-decoration: none;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    height:10px;
    margin: 0px auto;
}

header .headerBox{
    padding: 10px 0px;
}

header .headerBox .btn-register{
    background-color: #1A1C20;
    color: #f1f1f1;
    float: right;
}

.main .btn{
    outline: none;
    border: none;
    padding: 8px 7px;
    border-radius: 5px;
    font-size: medium;
}

.btn-delete{
    background-color: #9C2542;
    color: white;
}

.btn-complete{
    background-color: #064420;
    color: white;
}

.btn-edit{
    background-color: #1C0C59;
    color: white;
}

.main .boxes{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.main .boxes .side{
    flex-grow: 3;
    width: 30%;
}

.main .boxes .side .profileBox section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
}

.side .profileBox section .profileImageBox{
    width: 33%;
}

.side .profileBox section .profileImageBox img{
    width: 100%;
    border-radius: 20px;
}

.side .profileBox section .profileContentBox{
    width: 60%;
    display: block;
}
.side .profileBox section .profileContentBox p{
    line-height: 25px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.side .profileBox section .profileContentBox h3{
    font-weight: 500;
    font-size: x-large;
}

.main .boxes .side .modsBox{
    margin: 20px 0px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
}

.boxes .side .modsBox .modsBoxTitel{
    width: 100%;
    margin: 0px 0px 10px 0px;
}

.boxes .side .modsBox .modsBoxTitel h3{
    font-weight: 500;
    font-size: x-large;
}

.boxes .side .modsBox > section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.boxes .side .modsBox  section .modBox{
    width: 100%;
    padding: 5px 0px;
    background-color: #e6e6e6;
    border-radius: 10px;
}

.side section .modBox .ModboxContent{
    padding: 0px 10px;
}

.side section .modBox .ModboxContent h3{
    font-size: medium;
}

.side section .modBox .ModboxContent p{
    font-size: small;
    color: rgb(14, 11, 27);
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.side section .modBox .ModboxContent button{
    background-color: #9C2542;
    color: white;
}

.side section .addMod .addModForm input{
    outline: none;
    border: none;
    padding: 8px 5px;
    font-size: medium;
    border-radius: 5px;
}
.side section .addMod .addModForm button{
    background-color: #1A1C20;
    color: white;
}

.main .boxes .todoBox{
    background-color: #f2f2f2;
    padding: 10px;
    max-width: 65%;
    flex-grow: 40;
    border-radius: 10px;
    margin: 0px 0px 20px 0px;
}

.boxes .todoBox section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.boxes .TodoModsName h3{
    font-size: x-large;
}

.boxes section .TasksBoxes{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    gap: 10px;
    align-items: center;
}

.boxes section .TasksBoxes .taskBox{
    width:100%;
    padding: 10px 0px;
    background-color: #e6e6e6;
    border-radius: 10px;
}

.taskBox .taskBoxContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px;
}

.taskBox .taskBoxContent .leftSide{
    width: 50%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.taskBox .taskBoxContent .leftSide .taskTitle h3{
    font-size: large;
}

.taskBox .taskBoxContent .leftSide .taskDescription p{
    line-height: 25px;
}

.addTask form input{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 8px 5px;
    font-size: medium;
}

.addTask button{
    background-color: #1A1C20;
    color: white;
}