html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strong,
sub,
sup,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*html5 display-role reset for older browsers*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote::after,
q:before,
q::after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*style starts*/
body {
    font-family: sans-serif;
    line-height: 1;
    background: #fcfcfc;
}

a {
    text-decoration: none;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    height:10px;
    margin: 0px auto;
}

header .headerBox{
    padding: 10px 0px;
}

header .headerBox .btn-register{
    background-color: rgb(14, 11, 27);
    color: #f1f1f1;
    float: right;
}

.main .btn{
    outline: none;
    border: none;
    padding: 8px 4px;
    border-radius: 5px;
    font-size: medium;
}

.main .boxes{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.main .boxes .side{
    flex-grow: 3;
    width: 30%;
}

.main .boxes .side .profileBox section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
}

.side .profileBox section .profileImageBox{
    width: 33%;
}

.side .profileBox section .profileImageBox img{
    width: 100%;
    border-radius: 30px;
}

.side .profileBox section .profileContentBox{
    width: 60%;
    display: block;
}
.side .profileBox section .profileContentBox p{
    line-height: 25px;
}

.side .profileBox section .profileContentBox h3{
    font-weight: 500;
    font-size: x-large;
}

.main .boxes .side .modsBox{
    margin: 20px 0px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
}

.main .boxes .todoBox{
    background-color: #f2f2f2;
    padding: 10px;
    max-width: 70%;
    flex-grow: 40;
    border-radius: 10px;
}